@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);



body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'PORKYS';
  font-size: 3.2rem;
}
.display-1 > .mbr-iconfont {
  font-size: 5.12rem;
}
.display-2 {
  font-family: 'PWChalk';
  font-size: 3.2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.12rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.56rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ffa500 !important;
}
.bg-success {
  background-color: #666565 !important;
}
.bg-info {
  background-color: #ffa500 !important;
}
.bg-warning {
  background-color: #ffa500 !important;
}
.bg-danger {
  background-color: #ffa500 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffa500;
  border-color: #ffa500;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #b37300;
  border-color: #b37300;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b37300 !important;
  border-color: #b37300 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffa500;
  border-color: #ffa500;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #b37300;
  border-color: #b37300;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b37300 !important;
  border-color: #b37300 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffa500;
  border-color: #ffa500;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #b37300;
  border-color: #b37300;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b37300 !important;
  border-color: #b37300 !important;
}
.btn-success,
.btn-success:active {
  background-color: #666565;
  border-color: #666565;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #403f3f;
  border-color: #403f3f;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #403f3f !important;
  border-color: #403f3f !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffa500;
  border-color: #ffa500;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #b37300;
  border-color: #b37300;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b37300 !important;
  border-color: #b37300 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffa500;
  border-color: #ffa500;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #b37300;
  border-color: #b37300;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b37300 !important;
  border-color: #b37300 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #996300;
  color: #996300;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffa500;
  border-color: #ffa500;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #996300;
  color: #996300;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffa500;
  border-color: #ffa500;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #996300;
  color: #996300;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ffa500;
  border-color: #ffa500;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #333232;
  color: #333232;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #666565;
  border-color: #666565;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #666565 !important;
  border-color: #666565 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #996300;
  color: #996300;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffa500;
  border-color: #ffa500;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #996300;
  color: #996300;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ffa500;
  border-color: #ffa500;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffa500 !important;
}
.text-secondary {
  color: #ffa500 !important;
}
.text-success {
  color: #666565 !important;
}
.text-info {
  color: #ffa500 !important;
}
.text-warning {
  color: #ffa500 !important;
}
.text-danger {
  color: #ffa500 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #996300 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #996300 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #333232 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #996300 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #996300 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #996300 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffa500;
}
.alert-warning {
  background-color: #ffa500;
}
.alert-danger {
  background-color: #ffa500;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffa500;
  border-color: #ffa500;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ffa500;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffedcc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a6a5a5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffedcc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffedcc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffedcc;
}
/* Scroll to top button*/
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ffa500;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ffa500;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ffa500;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffa500;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffa500;
}
/* Headers*/
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qAQIp6ihIZ {
  background-image: url("../../../assets/images/dwagenciadigital.cracaodesites-1500x830.png");
}
.cid-qAQIp6ihIZ h1 {
  color: #616161;
}
.cid-qAQIp6ihIZ h2,
.cid-qAQIp6ihIZ h3,
.cid-qAQIp6ihIZ p {
  color: #767676;
}
.cid-qAQIp6ihIZ .mbr-section-subtitle {
  font-style: italic;
}
.cid-qAQIp6ihIZ SPAN {
  color: #323232;
}
.cid-qAQIp6ihIZ P {
  color: #000000;
}
.cid-qy1WGQVESe {
  padding-top: 135px;
  padding-bottom: 105px;
}
.cid-qy1WGQVESe h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qy1WGQVESe p {
  color: #767676;
  text-align: left;
}
.cid-qy1WGQVESe .card-img {
  text-align: left;
  padding-right: 30px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: auto;
}
.cid-qy1WGQVESe .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qy1WGQVESe .card-title {
  margin-bottom: 0;
}
.cid-qy1WGQVESe .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qy1WGQVESe .media {
  margin: initial;
  align-items: center;
}
@media (max-width: 300px) {
  .cid-qy1WGQVESe .card-img span {
    font-size: 40px !important;
  }
}
.cid-qy1WGQVESe P {
  color: #efefef;
}
.cid-qy1WGQVESe .card-title,
.cid-qy1WGQVESe .card-img B {
  color: #ffffff;
}
.cid-qy1WGQVESe B {
  color: #efefef;
}
.cid-qBZin5fFZW {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/black-wall1-680x509.jpg");
}
.cid-qBZin5fFZW H2 {
  color: #494949;
}
.cid-qBZin5fFZW .mbr-section-subtitle I {
  color: #767676;
}
.cid-qBZin5fFZW .mbr-section-subtitle B {
  color: #4f4943;
}
.cid-qy24GsDfMK {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/ilustracao-hospedagem-de-sites-730x260.png");
}
.cid-qy24GsDfMK .carousel-control {
  background: #000;
}
.cid-qy24GsDfMK .mbr-section-subtitle {
  color: #000000;
}
.cid-qy24GsDfMK .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qy24GsDfMK .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qy24GsDfMK .carousel-item .wrap-img {
  text-align: center;
}
.cid-qy24GsDfMK .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-qy24GsDfMK .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qy24GsDfMK .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-qy24GsDfMK .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-qy24GsDfMK .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-qy24GsDfMK .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-qy24GsDfMK .cloneditem-1,
.cid-qy24GsDfMK .cloneditem-2,
.cid-qy24GsDfMK .cloneditem-3,
.cid-qy24GsDfMK .cloneditem-4,
.cid-qy24GsDfMK .cloneditem-5 {
  display: none;
}
.cid-qy24GsDfMK .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-qy24GsDfMK .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-qy24GsDfMK .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides2 .cloneditem-1,
  .cid-qy24GsDfMK .carousel-inner.slides2 .cloneditem-2,
  .cid-qy24GsDfMK .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-qy24GsDfMK .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides3 .cloneditem-1,
  .cid-qy24GsDfMK .carousel-inner.slides3 .cloneditem-2,
  .cid-qy24GsDfMK .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-qy24GsDfMK .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides4 .cloneditem-1,
  .cid-qy24GsDfMK .carousel-inner.slides4 .cloneditem-2,
  .cid-qy24GsDfMK .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-qy24GsDfMK .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides5 .cloneditem-1,
  .cid-qy24GsDfMK .carousel-inner.slides5 .cloneditem-2,
  .cid-qy24GsDfMK .carousel-inner.slides5 .cloneditem-3,
  .cid-qy24GsDfMK .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-qy24GsDfMK .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-qy24GsDfMK .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qy24GsDfMK .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qy24GsDfMK .carousel-inner.slides6 .cloneditem-1,
  .cid-qy24GsDfMK .carousel-inner.slides6 .cloneditem-2,
  .cid-qy24GsDfMK .carousel-inner.slides6 .cloneditem-3,
  .cid-qy24GsDfMK .carousel-inner.slides6 .cloneditem-4,
  .cid-qy24GsDfMK .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-qy24GsDfMK H2 {
  text-align: center;
}
.cid-qBZkEe9cX0 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/fd.fudo-1024x310.png");
}
.cid-qBZkEe9cX0 .mbr-section-subtitle {
  color: #767676;
}
.cid-qBZkEe9cX0 .formoid {
  margin: auto;
}
.cid-qBZkEe9cX0 .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-qBZkEe9cX0 a.btn {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
.cid-qBZkEe9cX0 .input-group-btn {
  align-self: center;
  -webkit-align-self: center;
  z-index: 3;
}
.cid-qBZkEe9cX0 .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.cid-qBZkEe9cX0 a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-qBZkEe9cX0 a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qBZkEe9cX0 .mbr-subscribe .input-group-btn {
  display: inline-block;
}
.cid-qBZkEe9cX0 .mbr-subscribe .input-group-btn button,
.cid-qBZkEe9cX0 .mbr-subscribe .input-group-btn a {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media (max-width: 350px) {
  .cid-qBZkEe9cX0 .mbr-subscribe {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qBZkEe9cX0 input[type="email"] {
    width: 100%;
    margin-bottom: 2px;
  }
  .cid-qBZkEe9cX0 .input-group-btn {
    width: 100%;
  }
  .cid-qBZkEe9cX0 .input-group-btn .btn {
    border-radius: 3px;
  }
}
@media (max-width: 768px) {
  .cid-qBZkEe9cX0 .input-group-btn a.btn {
    width: 100%;
  }
  .cid-qBZkEe9cX0 .input-group-btn {
    width: calc(92%);
  }
  .cid-qBZkEe9cX0 .input-group-btn button[type="submit"] {
    width: 100%;
  }
  .cid-qBZkEe9cX0 .input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: 300px;
  }
  .cid-qBZkEe9cX0 .input-group input[type="email"] {
    width: 100%;
    margin-bottom: 3px;
  }
  .cid-qBZkEe9cX0 .input-group span {
    display: inline;
    padding-left: 0;
    padding-right: 0;
  }
  .cid-qBZkEe9cX0 .input-group-btn button,
  .cid-qBZkEe9cX0 .input-group-btn a {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 769px) {
  .cid-qBZkEe9cX0 .mbr-subscribe > * {
    margin: 0 0.5rem;
  }
}
.cid-qy2cth1Bq6 {
  padding-top: 135px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/dois-2k-agencia-digital-background-1600x844.jpg");
}
.cid-qy2cth1Bq6 h2 {
  text-align: left;
}
.cid-qy2cth1Bq6 h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qy2cth1Bq6 p {
  color: #767676;
  text-align: left;
}
.cid-qy2cth1Bq6 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-qy2cth1Bq6 .media {
  margin: initial;
  align-items: center;
}
.cid-qy2cth1Bq6 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-qy2cth1Bq6 .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-qy2cth1Bq6 .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-qy2cth1Bq6 .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-qy2cth1Bq6 .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-qy2cth1Bq6 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-qy2cth1Bq6 .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-qy2cth1Bq6 .card-img span {
    font-size: 40px !important;
  }
}
.cid-qy2cth1Bq6 H2 {
  color: #ffa500;
  text-align: left;
}
.cid-qy2cth1Bq6 .mbr-text {
  color: #ffffff;
  text-align: left;
}
.cid-qy2cth1Bq6 H4 {
  color: #ffffff;
}
.cid-qy2cth1Bq6 P {
  color: #efefef;
}
.cid-qy2gM3XLHB {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/phone-and-email-background-2000x1024.jpg");
}
.cid-qy2gM3XLHB .title {
  margin-bottom: 2rem;
}
.cid-qy2gM3XLHB .mbr-section-subtitle {
  color: #767676;
}
.cid-qy2gM3XLHB a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qy2gM3XLHB a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qy2gM3XLHB .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qy2gM3XLHB .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qy2gM3XLHB H2 {
  text-align: center;
  color: #323232;
}
.cid-qy2gM3XLHB LABEL {
  color: #000000;
}
.cid-qy2gM3XLHB .form-control-label {
  color: #232323;
}
.cid-qxZFPE10ao .navbar {
  padding: .5rem 0;
  background: #323232;
  transition: none;
  min-height: 77px;
}
.cid-qxZFPE10ao .navbar-dropdown.bg-color.transparent.opened {
  background: #323232;
}
.cid-qxZFPE10ao a {
  font-style: normal;
}
.cid-qxZFPE10ao .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qxZFPE10ao .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qxZFPE10ao .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qxZFPE10ao .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qxZFPE10ao .menu-logo {
  margin-right: auto;
}
.cid-qxZFPE10ao .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qxZFPE10ao .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qxZFPE10ao .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qxZFPE10ao .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qxZFPE10ao .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qxZFPE10ao .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qxZFPE10ao .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qxZFPE10ao .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qxZFPE10ao .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qxZFPE10ao .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qxZFPE10ao .dropdown .dropdown-menu {
  background: #323232;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qxZFPE10ao .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qxZFPE10ao .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qxZFPE10ao .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qxZFPE10ao .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qxZFPE10ao .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qxZFPE10ao .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qxZFPE10ao .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qxZFPE10ao .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qxZFPE10ao .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qxZFPE10ao .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qxZFPE10ao .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qxZFPE10ao button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qxZFPE10ao button.navbar-toggler:focus {
  outline: none;
}
.cid-qxZFPE10ao button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #f7921e;
}
.cid-qxZFPE10ao button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qxZFPE10ao button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qxZFPE10ao button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qxZFPE10ao button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qxZFPE10ao nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxZFPE10ao nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qxZFPE10ao nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qxZFPE10ao nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxZFPE10ao .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qxZFPE10ao .collapsed .btn {
  display: flex;
}
.cid-qxZFPE10ao .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qxZFPE10ao .collapsed .navbar-collapse.collapsing,
.cid-qxZFPE10ao .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qxZFPE10ao .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qxZFPE10ao .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qxZFPE10ao .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qxZFPE10ao .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qxZFPE10ao .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qxZFPE10ao .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qxZFPE10ao .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qxZFPE10ao .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qxZFPE10ao .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qxZFPE10ao .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qxZFPE10ao .collapsed button.navbar-toggler {
  display: block;
}
.cid-qxZFPE10ao .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qxZFPE10ao .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qxZFPE10ao .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qxZFPE10ao .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qxZFPE10ao .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qxZFPE10ao .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qxZFPE10ao .navbar-expand {
    flex-direction: column;
  }
  .cid-qxZFPE10ao img {
    height: 3.8rem !important;
  }
  .cid-qxZFPE10ao .btn {
    display: flex;
  }
  .cid-qxZFPE10ao button.navbar-toggler {
    display: block;
  }
  .cid-qxZFPE10ao .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qxZFPE10ao .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qxZFPE10ao .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qxZFPE10ao .navbar-collapse.collapsing,
  .cid-qxZFPE10ao .navbar-collapse.show {
    display: block !important;
  }
  .cid-qxZFPE10ao .navbar-collapse.collapsing .navbar-nav,
  .cid-qxZFPE10ao .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qxZFPE10ao .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qxZFPE10ao .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qxZFPE10ao .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qxZFPE10ao .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxZFPE10ao .navbar-collapse.collapsing .navbar-buttons,
  .cid-qxZFPE10ao .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qxZFPE10ao .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qxZFPE10ao .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxZFPE10ao .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qxZFPE10ao .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qxZFPE10ao .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qxZFPE10ao .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qxZFPE10ao .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qxZFPGmM3t {
  padding-top: 105px;
  padding-bottom: 120px;
  background-color: #232323;
}
@media (max-width: 767px) {
  .cid-qxZFPGmM3t .content {
    text-align: center;
  }
  .cid-qxZFPGmM3t .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-qxZFPGmM3t .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-qxZFPGmM3t .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-qxZFPGmM3t .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-qxZFPGmM3t .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qxZFPGmM3t .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qxZFPGmM3t .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qxZFPGmM3t .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qxZFPGmM3t .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qxZFPGmM3t .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qxZFPGmM3t .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qxZFPGmM3t .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qxZFPGmM3t H5 {
  color: #4f4943;
}
.cid-qxZFPGmM3t B {
  color: #494949;
}
.cid-qxZFPGmM3t P {
  color: #c1c1c1;
}
.cid-qxZFPGmM3t .copyright > p {
  color: #c1c1c1;
}
